.content-header {
    display: flex;
    justify-content: space-between;
}

.refresh-button {
    background-color: #ffae00;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.refresh-button:active {
    box-shadow: 1px 1px 16px 0px #ffae00a6;
}

.refresh-button span {
    line-height: 1.3;
}